{
  "extends": "defaults/configurations/airbnb",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "no-nested-ternary": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/no-multi-comp": 0,
    "react/jsx-sort-prop-types": 1,
    // Temporarirly disabled due to a possible bug in babel-eslint (todomvc example)
    "block-scoped-var": 0,
    // Temporarily disabled for test/* until babel/babel-eslint#33 is resolved
    "padded-blocks": 0,
    "no-console": 0,
    "no-shadow": 0,
    "comma-dangle": [2, "never"],
    "quotes": [2, "single", "avoid-escape"],
    "indent": [2, 4, {"SwitchCase": 1}],
    "filenames/filenames": [2, "^([A-Z]|[a-z])([a-z0-9]+)([A-Z][a-z0-9]+)*$"] // TitleCase or camel case
  },
  "plugins": [
    "react",
    "filenames"
  ],
  "globals": {
    "__DEVELOPMENT__": true,
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DISABLE_SSR__": true,
    "__DEVTOOLS__": true
  }
}